@model IEnumerable<Lab7.BLL.DTO.MenuDTO>

@{
    ViewBag.Title = "Home Page";
}

<section class="main-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                    @foreach (var item in Model)
                    {
                        <div class="menu-item">
                            <h3>@item.Dish.Name <a href="#" class="add-menu-item" itemid="@item.Id">+</a></h3>
                            <p>@item.Size.Name</p>
                            <p>@item.Price</p>
                            <div class="ingredients">
                                <p>
                                    @foreach (var ingredient in item.Dish.Ingredients)
                                    {
                                        @(ingredient.Name + ", ")
                                    }
                                </p>
                            </div>
                        </div>
                    }
            </div>
            <div class="col-md-6">
                <div class="order-list">

                </div>
                <p id="current-price">0</p>
                <button class="order-btn">Create Order</button>
            </div>
        </div>
    </div>
</section>